.App > section#intro {
    @apply
    bg-cream
}

.intro-header-container {
    @apply
    fixed top-0 left-0 w-full
    z-50 bg-cream
}

section#intro .modal-open {
    @apply
    bg-black
}

section#intro .nav-modal-wrapper {
    @apply
    fixed left-0 right-0 top-0 bottom-0
    z-20 flex flex-col lg:hidden
}

section#intro .nav-modal-wrapper > div {
    @apply
    bg-black w-full absolute
    top-[68.5px] z-30
    py-4
}

#intro .intro-header {
    @apply
    flex flex-row justify-between items-center
    py-4 gap-x-2.5 w-full md:max-w-screen-xl mx-auto
    px-8 md:px-[70px]
}

.intro-header > img {
    @apply
    w-10 md:w-[70px]
}

section#intro nav {
    @apply
    flex flex-col lg:flex-row gap-0 lg:gap-x-2.5
}

section#intro nav > button {
    @apply
    text-white lg:text-black text-caption4 lg:text-light text-center font-normal
    bg-transparent px-5 py-2.5
    hover:bg-transparent lg:hover:bg-black/10 hover:font-medium
    transition-all ease-in-out duration-500
    motion-reduce:transition-none
}

section#intro nav > button.active {
    @apply
    bg-transparent lg:bg-black/10 font-medium
}

#intro > .content > .intro-content {
    @apply
    flex flex-row gap-x-0 md:gap-x-10 lg:gap-x-24
    pt-5 pb-10 md:py-5 mt-[70px] md:mt-24 px-12 md:pl-[70px] md:pr-0
}

.intro-content > .left {
    @apply
    grow basis-0
    flex flex-col items-center md:items-start justify-center
}

.intro-content > .left > h2 {
    @apply
    text-black text-header3 md:text-title3 lg:text-title1
    text-center md:text-start
}

.intro-content > .left > p {
    @apply
    text-black text-caption3 md:text-body2 lg:text-body font-normal
    mt-6 mb-5 text-center md:text-start
}


.intro-content > .right {
    @apply
    grow hidden md:grid
    place-items-center basis-0
}


.intro-content .right-bg {
    @apply
    w-full h-auto
    row-start-1 row-end-2 col-start-1 col-end-2
}

.intro-content .right-top {
    @apply
    w-full h-auto grid pr-12 md:pr-[70px]
    row-start-1 row-end-2 col-start-1 col-end-2
}

.intro-content .right-top > img {
    clip-path: url(#intro-girls-clip-path);
    @apply
    w-full max-w-full
    row-start-1 row-end-2 col-start-1 col-end-2
}

.intro-content .right-top > svg {
    @apply
    row-start-1 row-end-2 col-start-1 col-end-2
}