@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body,
html,
div#root {
	@apply h-full w-screen min-h-screen;
	scroll-behavior: smooth;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.girl-image {
	clip-path: url(#intro-girls-clip-path);
}

.mission-image {
	clip-path: url(#mission-girl-clip-path);
}

.vision-image {
	clip-path: url(#mission-boy-clip-path);
}

.content {
	margin: auto;
	max-width: 1280px;
}
